html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Globales Start */

a {
  text-decoration: none;
  color: #000;
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

/* Globales End */

/* Header y Navegación Start */
.nombre-sitio {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.nombre-sitio span {
  color: #037bc0;
}

.contenedor-navegacion {
  border-top: 1px solid #e1e1e1;
}

.nav-principal {
  padding: 20px 0;
}

.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

/* Header y Navegación End */

h1 {
  font-size: 20px;
  color: #000;
}
