html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

/* Globales Start */
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #000;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

/* Globales End */

/* Utilidades Start */
.text-center {
  text-align: center;
}
/* Utilidades End*/

/* Header y Navegación Start */
.nombre-sitio {
  margin-top: 5rem;
  text-align: center;
}

.nombre-sitio span {
  color: #037bc0;
}

.contenedor-navegacion {
  border-top: 0.1rem solid #e1e1e1;
}

.nav-principal {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 55rem;
}

/* Header y Navegación End */

/* Categorías Start */
.categorias {
  padding-top: 5rem;
}

.listado-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.categoria a {
  text-align: center;
  display: block;
  padding: 2rem;
  font-size: 2rem;
}

.categoria a:hover {
  background-color: #037bc0;
  color: #ffffff;
  border-bottom-right-radius: 1rem;
}

/* Categorías End */

/* Bloque Nosotros Start */
.sobre-nosotros {
  background-image: linear-gradient(
      to right,
      transparent 50%,
      #037bc0 50%,
      #037bc0 100%
    ),
    url(../img/nosotros.jpg);
  background-position: left center;
  padding: 10rem 0;
  background-repeat: no-repeat;
  background-size: 100%, 120rem;
}

.sobre-nosotros-grid {
  display: flex;
  justify-content: flex-end;
}

.texto-sobre-nosotros {
  flex-basis: 50%;
  padding-left: 10rem;
  color: #fff;
}
/* Bloque Nosotros End*/

/* Bloque De Los Productos Start */
.contenido-principal {
  padding-top: 5rem;
}

.producto {
  background-color: #037bc0;
}

.texto-producto {
  text-align: center;
  color: #fff;
}

.texto-producto h3 {
  margin: 0;
}

.texto-producto p {
  margin: 0 0 0.5rem 0;
}

.texto-producto .precio {
  font-size: 2.8rem;
  font-weight: 900;
}
.texto-producto a {
}
/* Listado De Los Productos Start */

/* Listado De Los Productos End*/

/* Bloque De Los Productos End */
